* {
    margin: 0;
    padding: 0;
}


#nature {
    height: 400px;
    width: 30%;
    border: 2px solid black;
    background-image: url("nature-image.jpg");
    background-size: cover;
    color: black;
    font-size: 50px;
    text-align: center;
    position: fixed;
    top: 100px;
    right: 0px;
}

#kittens {
    height: 400px;
    width: 30%;
    border: 2px solid black;
    background-image: url("../On-the-go/Level3/kitten-image1.jpg");
    background-size: cover;
    color: black;
    font-size: 50px;
    text-align: center;
    position: sticky;
    left: 0px;
    top: 100px;
    right: 0px;
}
