#box1 {
    height: 100px;
    width: 200px;
    background-color: green;
}

#box2 {
    height: 50px;
    width: 20%;
    background-color: yellow;
    margin-left: 20%;
}

#box3 {
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin-top: 10px;
}