/* =============================================== */
/* Transitions */
/* #container {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: #00ffff;
    text-align: center;
    align-content: center;
    font-size: larger;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-timing-function: steps(3);
    transition-delay: 2s;
    position: absolute;
    top: 100px;
    left: 200px;
    transform: rotate(45deg);
}

div {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: #00ffff;
    text-align: center;
    align-content: center;
    font-size: larger;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-timing-function: steps(3);
    transition-delay: 2s;
    position: absolute;
    top: 400px;
    left: 200px;
    transform: rotate(0deg);
}

#container:hover{
    background-color:brown;
    color: white;
}

#container:active{
    background-color: cadetblue;
    color: white;
} */

/* =============================================== */
/* Transitions */

/* =============================================== */
/* Animations */

#navbar {
    height: 70px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* a {
    text-decoration: none;
    color: black;
    font-size: x-large;
} */

/* This is called pseudo-state */
/* a:hover {
    text-decoration: underline; with transitions
    animation-name: href-underline;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 10;
    animation-duration: 1s;
} */

/* @keyframes href-underline {
    from {
        text-decoration: none;
        color:black;
    }
    to {
        text-decoration: underline;
    }
} */

/* Adding underline effect which appears when hovered over */
/* a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a:hover::before {
    visibility: visible;
    width: 100%;
} */

#moving-ball{
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
    align-content: center;
    font-size: x-large;
    position: relative;
    animation: colorChangeAnimation;
}

#moving-ball:active {
    animation: movingBall 3s linear alternate infinite;
}

#moving-ball:hover {
    animation: colorChangeAnimation 1s linear normal infinite;
}

@keyframes movingBall {
    from {left: 0px}
    to {left: 300px}
}

@keyframes colorChangeAnimation {
    0% {background-color: red;}
    14% {background-color: orange;}
    28% {background-color: yellow;}
    42% {background-color: green;}
    56% {background-color: blue;}
    70% {background-color: indigo;}
    100% {background-color: violet;}
}