* {
    margin:0;
    padding:0;
}

div {
    height: 500px;
    width: 500px;
    background-image: url("../../../assets/nature-image.jpg");
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    border: 2px solid black;
    font-size: xx-large;
    text-align: center;
    background-position: center;
}