* {
    margin:0;
    padding: 0;
}

/* #box1 {
    height: 100px;
    width: 100px;
    background-color: cadetblue
}

#box2 {
    height: 50px;
    width: 30%;
    background-color: yellow;
} */

div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;

}

#box1 {
    background-image: url('kitten-image1.jpg');
    background-size: cover;
}

#box2 {
    background-image: url('kitten-image2.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}