* {
    background-color:rgb(38, 109, 211);

}

#box {
    color: #ffff;
    background-color: blue;
}

.heading {
    color: rgb(255,0,0);
}

/* It also works */
/* h1, h2, h3 {
    color: green
} */

button {
    background-color: rgb(0,255,0);
}