/* This is Universal Selector */
* {
    background-color:rgb(38, 109, 211);

}

/* These are Element selectors */
h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;

}

button {
    background-color: rgb(52, 64, 85);
    color: white;
}

p {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    font-size: x-large;
}

/* div {
    border: 2px solid;
    border-color: rgb(52, 64, 85);
    height: 100px;
    width: 100px;
} */
/* These are called Id selectors */
#box1 {
    background-color: rgb(223, 194, 242);
    border: 2px solid;
    border-color: rgb(52, 64, 85);
    height: 100px;
    width: 100px;
}

#box2 {
    background-color: rgb(166, 87, 219);
    border: 2px solid;
    border-color: rgb(52, 64, 85);
    height: 100px;
    width: 100px;
}

#box3 {
    background-color: rgb(104, 32, 151);
    border: 2px solid;
    border-color: rgb(52, 64, 85);
    height: 100px;
    width: 100px;
}

#emoji {
    font-size: 100px;
    margin: 10px;
}

th {
    font-size: larger;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td {
    font-size: large;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#heading_cent {
    text-align: center;
    text-transform: capitalize;
}

#outer {
    font-size: 25px;
    border: 2px solid;
    border-color: rgb(52, 64, 85);
    height: 100px;
    width: 100px;
    color: #ffffff;
}

#inner {
    font-size: 10px;
    border: 2px solid;
    border-color: rgb(52, 64, 85);
    height: 100px;
    width: 100px;
    color: bisque;

}