/* 
* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}

div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
} */

div {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
}

#box2 {
    position: relative;
    top: 100px;
}

#box3 {
    position: relative;
    bottom: 10px;
}

#box4 {
    position: relative;
    left: 50px;
}