* {
    background-color:rgb(38, 109, 211);

}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;

}

button {
    background-color: rgb(52, 64, 85);
    color: white;
}

p {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}