* {
    padding: 0;
    margin: 0;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
    border: 2px solid;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 280px;
}

button {
    color: white;
    background-color: #f08804;
}


.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

#content {
    height: 500px;
}

#footer {
    background-color: black;
    color: #f08804;
    text-align: center;
    padding: 10px;
    border: 2px solid ;
    font-size: 18px;
}