* {
    font-family: Arial, Helvetica, sans-serif;

}
#heading h3 {
    text-align: center;
    text-transform: capitalize;

}

a {
    text-decoration: none;
}

#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}