* {
    margin: 0;
    padding: 0;
    text-align: center;
}

div {
    height: 50px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
}

/* Flex Property with flex-direction, justify-content */
/* #container {
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

#container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: cadetblue;
    height: 200px;
}

#box3 {
    background-color: cornflowerblue;
}

#box4 {
    background-color: burlywood;
}

#box5 {
    background-color: bisque;
}