
#container {
    height: 70px;
    /* width: 200px; */
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition-property: color;
    transition-delay: 2s;
    transition-timing-function: ease-in;
    text-decoration: underline;
}

li {
    font-size: x-large;
}

#submit_btn {
    font-size: x-large;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease;
    cursor: pointer;
}

#submit_btn:hover {

    background-color: brown;
    color: aliceblue;
    /* transform: scale(1.5); */
}

#gallery {
    border: 2px solid black;
    height: 250px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img_container{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-image: url(../../assets/kitten-image1.jpg);
    background-size: contain;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 1s;
    /* transition-delay: 5s; */
}

.img_container:hover {
    transform: scale(1.2);
    margin: 25px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }