
.navbar {
    border: 2px solid black;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;

}

.flex-container {
    border: 2px solid black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-size: contain;
    background-position: center;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.img-container:hover {
    transform: scale(1.5);
}

#btn {
    transition-property: font-size, border-radius;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
    margin-top: 5px;
    font-size: large;
}

#btn:hover {
    background-color: brown;
    color: antiquewhite;
    border-radius: 5px;
    font-size: x-large;
}

#arrow-icon {
    font-size: xx-large;
    text-align: center;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.5s;

}

#arrow-icon:active {
    transform: rotate(180deg);

}
#btn-click-me {
    transition-property: transform, position;
    transition-timing-function: ease-in;
    transition-duration: 500ms;
    margin-left: 20px;
    margin-bottom: 20px;
}

#btn-click-me:hover {
    transform: scale(1.5);
}

#rightandleft {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    /* transition-property: all;
    transition-timing-function: ease;
    transition-duration: 500ms; */
}

#rightandleft:hover {
    transform: translate(1344px);

}