* {
    text-align: center;
}

#container {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: flex-start; */
}

div {
    border: 2px solid black;
    display: inline-block;
    height: 50px;
    width: 50px;
    /* display: flex; */
}

#box1 {
    background-color: antiquewhite;
}

#box2 {
    background-color: burlywood;
}

#box3 {
    background-color: chocolate;
}

#box4 {
    background-color: cornflowerblue;
}

#box5 {
    background-color: blueviolet;
}