* {
    text-align: center;
}

#container {
    border: 2px solid black;
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    align-content: flex-start;
    /* align-items: flex-start; */
    /* align-content: flex-end; */
}

div {
    border: 2px solid black;
    /* display: flex; */
    height: 100px;
    width: 50px;
}

#box1 {
    background-color: aquamarine;
}

#box2 {
    background-color: bisque;
    height: 200px;
    /* flex-shrink: 1; */
    flex-grow: 1;
}

#box3 {
    background-color: burlywood;
    /* align-self: center; */
}

#box4 {
    background-color: cadetblue;
    flex-grow: 2;
}

#box5 {
    background-color: chocolate;
    /* align-self: flex-end; */
    flex-grow: 3;
}