* {
    padding: 0;
    margin: 0;
}

#navbar {
    height: 60px;
    gap: 200px;
    border: 2px solid white;
    background-color: #0f1111;
    /* display: inline-block; */
}

button {
    background-color: #f08804;
    color: white
}

a {
    text-decoration: none;
    color: white;
    margin-right:240px;
}

/* h1 {
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 150px;
    padding-left: 10px;

} */


main {
    margin-top: 50px;
    margin-left: 10px;
    height: 650px;

}

#box1 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(255,0,0,0.75);
    display: inline-block;
}

#box2 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(0,255,0,0.50);
    display: inline-block;

}

#box3 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(0,0,255,0.25);
    display: inline-block;


}

#footer {
    height: 30px;
    gap: 200px;
    border: 2px solid white;
    background-color: #0f1111;
    margin-top: 100px;
}

p {
    color: whitesmoke;
    text-align: center;
    padding: 2px;
}